h3{
    background-color:rgb(228, 196, 255) ;
}
.note{
font-size: 17px;

}
#song {
     font-size: 23px;
      margin: 15px;
    }
canvas {
     border:5px solid white;
         border-radius:20px;
          box-shadow: 5px 5px 5px #73cfd8; 
        }